*{
    margin: 0;
    padding: 0;
    text-align: center;
}
.h1{
background-color: #081b31;
color: white;
height: 60px;
line-height: 60px;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
     display: flex;
    justify-content: center;
    align-items: center;
}
img{
     height: 150px;
    width: 150px;
   object-fit: cover;
   border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 30px;
   
}
.choice:hover{
  
       background-color: #081b31;
       cursor: pointer;
      
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 40px;
    gap: 100px;
}
#your-score, #computer-score{
    font-size:50px ;
}
.msg{
    background-color: #081b31;
    color: white;
    font-size: 30px;
     display: inline;
     border-radius: 5px;
     padding: 15px;
}
.msg-container{
    margin-top: 70px;
    
}
body{
    background-color:burlywood;
}
.detail-msg{
    font-size: 30px;
    margin-top: 40px;
}